<header id="header">
	<a href="index.html" class="logo"><strong>Auth Bkend</strong></a>
	<ul class="icons">
		<li><a href="/"><span class="label">Register</span></a></li>
		<li><a href="/"><span class="label">Login</span></a></li>
	</ul>
</header>